
/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height:0;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	/*z-index: 1;*/
	margin: 0 !important;
}
.camera_wrap img {
	max-width: none !important;
    overflow: hidden;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	/*z-index: 1;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width:1170px;
    text-align: left;
	/*z-index: 1;*/
    display: inline-block;
}
/*.cameraContents:after {
    position: absolute;
	left:0;
    top:0;
	width:100%;
    height:100%;
	background:red;
	content: '';
}*/
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
    text-align: center;
	right: 0;
	top: 0;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background:#efede0 url(../img/camera-loader.gif) no-repeat center;
	height: 36px;
    width: 36px;
    top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	z-index: 3;
    border-radius:36px;
}
.camera_loader img {
    border-radius:36px;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
    z-index:0;
    width:100%;
    top: 0;
    padding:0;
    margin:30px 0;
    overflow:hidden;
}
.camera_pag {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 50%;
    padding: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    margin: 120px -134px 0 0;
}
.camera_pag ul {
    width: 100%;
}
.camera-caption {
	position: absolute;
	bottom:0;
    width: 50%;
    right:0;
    text-align:left;
	display: block;
    padding:7px 50px 60px 20px;
    z-index: 3;
    background:#000;
    background:rgba(0,0,0,0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.camera-caption .title {
    font:bold 56px/57px 'Lato';
    color:#fff;
    margin-bottom:5px;
    display:block;
}
.camera-caption .description {
    font:23px/33px 'Lato';
    color:#fff;
    margin:0 0 7px 0;
}
.camera-caption .price {
    font:bold 56px/1em 'Lato';
    color:#f50606;
    margin:0;
}
.camera_prev {
    position: absolute;
    top:50%;
    left:0;
    margin-top:-28px;
    float:left;
    background:#fff;
    z-index: 4;
}
.camera_next {
    position: absolute;
    top:50%;
    right:0;
    margin-top:-28px;
    float:right;
    background:#fff;
    z-index: 4;
}
.camera_prev span, .camera_next span{
	display: block;
	width:57px;
	height:57px;
	cursor: pointer;
	z-index: 1000;
    color:#333;
    font-size:50px;
    line-height:57px;
    text-align:center;
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;
}
.camera_prev span:before {
    content:'\f104';
    font-family:'FontAwesome';
}
.camera_next span:before {
    content:'\f105';
    font-family:'FontAwesome';
}
.camera_next span:hover, .camera_prev span:hover {
    color:#f47e00;
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;    
}
.camera_pag_ul {
    display: inline-block;
}
.camera_pag_ul li{
	text-indent: -100px;
    display:inline-block;
    margin:0 0 0 12px;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li>span{
	cursor: pointer;
	display: block;
	width:12px;
	height:12px;
    border-radius:100%;
    background:none;
	text-indent: -100px;
	overflow: hidden;
    background:transparent;
    border:2px solid #fff;
    border-radius:100%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_pag_ul li>span>span{
    display:none;
}
.camera_pag_ul li.cameracurrent span, .camera_pag_ul li:hover span{
    background:#f50606;
    border-color:#f50606;
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px){
.camera-caption .title {
    font-size:35px;
    line-height:1em;   
}
}
@media (max-width: 1320px) {
.camera-caption  {
    text-align:center;  
    width: 100%; 
    padding:20px 50px;
}
.cameraCont, .cameraContents {
	width:100%;
}
.camera_pag {
    right:20px;
    margin:0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
.camera-caption .title {
    font-size:35px;
    line-height:1em;   
}
}
@media (max-width: 1320px) {
.camera-caption  {
    text-align:center;  
    width: 100%; 
    padding:20px 50px;
}
.cameraCont, .cameraContents {
	width:100%;
}
.camera_pag {
    right:20px;
    margin:0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
.camera-caption .title {
    font-size:35px;
    line-height:1em;   
}
.camera-caption  {
    text-align:center;  
    width: 100%; 
    padding:20px 50px 50px 50px;
}
.cameraCont, .cameraContents {
	width:100%;
}
.camera_pag {
    right: 50%;
    margin: 0 -54px 0 0;
}
.camera-caption .price {
    font-size:40px;
}
.camera-caption .description {
    display:none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
.camera-caption .title {
    font-size:25px; 
}
.camera-caption .price {
  font-size: 30px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
